{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title|capfirst }}</title>
    {% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
</head>
<body>
<div>
    <a href="{% url 'mainapp:index' %}">Главная</a>
</div>
<h1>Пользователи</h1>
<div class="dialog-members">
    <ul>
        {% for item in new_interlocutors %}
        <li>
            <a href="{% url 'mainapp:user_dialog_create' item.pk %}"
               style="text-decoration: none;">
                {{ item.username }}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>