<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title|default:"Сообщение"|capfirst }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h3 class="text-center" style="padding-top: 20px;">Диалоги</h3>
<div class="dialog-list">
    <ul class="list-group" style="padding-top: 15px;">
        {% for item in dialog %}
        <li class="list-group-item">
            <a href="{% url 'mainapp:message' item.pk %}">
                {{ item.name }}
            </a>
        </li>
        <li class="list-group-item">
            {{ item.created }}
        </li>
<!--        <li class="list-group-item">-->
<!--            {{ item.read }}-->
<!--        </li>-->
<!--        <li class="list-group-item">-->
<!--            {{ item.created }}-->
<!--        </li>-->
        {% endfor %}
    </ul>
</div>
</body>
</html>