<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title|capfirst }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
{% if user.is_authenticated %}
<div class="navbar navbar-expand-sm bg-dark navbar-dark">
        <span style="margin-right: 18px; padding-bottom:2px; color: white; font-size: 25px">
            {{ user.username }}
        </span>
    <a href="{% url 'auth:logout' %}" class="button-logout"
       style="color:white; padding:8px; font-size: 25px;">Выйти</a>
    <div class="dialog-create">
        <a href="{% url 'main:dialog_create' %}" class="button-creation"
           style="color:white; padding:8px; font-size: 25px; margin-left: 10px;">Создать диалог</a>
    </div>
</div>
{% endif %}
<h3 class="text-center" style="padding-top: 20px;">Активные диалоги</h3>
<div class="dialogues-list">
    <ul class="list-group">
        {% for item in dialogues %}
        <li class="list-group-item">
            <span class="dialog-link">
                <a href="{% url 'main:dialog_show' item.dialog_id %}"
                   style="text-decoration: none; font-size: 20px;">
                    {{ item.dialog }}
                </a>
            </span>
            <span class="dialog-delete">
                <a href="{% url 'main:dialog_delete' item.dialog_id %}"
                   class="btn btn-danger"
                   style="text-decoration: none;">
                    удалить
                </a>
            </span>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>