{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title|capfirst }}</title>
    {% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
    {% block js %}
<!--    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>-->
<!--    <script src="{% static 'js/main.js' %}"></script>-->
    {% endblock %}
</head>
<body>
<div>
    <a href="{% url 'mainapp:index' %}" style="text-decoration: none;">Главная</a>
</div>
<h3>Сообщения</h3>
<div class="message-dialog">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>{{ form }}</label>
        </div>
        <input type="submit" class="btn btn-success" value="Создать">
    </form>
</div>
<script src="#"></script>
<script src="#"></script>
</body>
</html>